@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
@mixin rounded($amount) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}
@mixin shadow() {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(214, 211, 211, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(214, 211, 211, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(214, 211, 211, 0.75);
}
@mixin gradient($from, $to) {
  background: $to;
  background: -webkit-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}