$mainColor: #0006ED;
$colorA: #632CB1;
$colorB: #0089EA;
$mainRound: 15px;
$small: .7rem;
$med: 1.0rem;
$lg: 1.5rem;
$bold: 800;
$serif: 'Times New Roman', Palatino, serif;
$sans: Arial, Helvetica, sans-serif;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
